<ion-header>
  <ion-toolbar>
    <ion-title>signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button
          id="googleBtn"
          expand="block"
          color="danger"
          (click)="googleLogin()"
        >
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Login with Google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="block" color="primary" (click)="facebookLogin()">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          Login with Facebook
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
