<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button slot="end" (click)="logout()" expand="block">
      logout
    </ion-button>
  </ion-toolbar>

  <ion-item>
    <ion-icon slot="start" name="search"></ion-icon>
    <ion-label>Search</ion-label>
    <ion-datetime
      #dateTime
      displayFormat="D MMM H:mm"
      min="2020"
      max="2020"
      value="{{timeNow}}"
      (ionChange)="didPick(dateTime.value)"
    ></ion-datetime>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let info of restaurantList">
      <ion-icon slot="start" name="fast-food-outline"></ion-icon>
      <ion-label>{{info.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
